:root {
    --main-color: black;
    --secundary-color: #a29bfe;
    --form-color: #8c8c8c;
    --font-color: white;
    --border-radius: 20px;
    font-family: Helvetica;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);
}

header {
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    width: 90%;
}

main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 90%;
}

h1 {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.titre__navigation {
    margin-right: 1.5rem;
}
.titre__navigation--categorie {
    color: var(--font-color);
    text-decoration: none;
    padding-left: 1.5rem;
}

.container__decoration {
    max-width: calc(100%-2 * 1.5rem);
    min-width: calc(100%-2 * 1.5rem);
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 100%;
    display: block;
    position: relative;
    /* background-image: url(../ressources/images/hero-banner.png);
    background-size: contain;
    background-repeat: no-repeat; */
}
.container__decoration--image {
    display: block;
    max-width: 100%;
    min-width: 100%;
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
    align-items: center;
}

.container__decoration--text {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    top: 45%;
    margin: auto;
    justify-content: space-between;
}
.container__decoration--text--title {
    font-size: 2.5rem;
    font-weight: bolder;
}

.container__decoration--text--description {
    margin-top: 2rem;
    font-weight: bold;
}

.container__services--service {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-align: center;
}

em {
    color: var(--secundary-color);
}

.container__services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    width: 90%;
    margin: auto;
}

.bento {
    display: flex;
    flex-direction: column;
    border: #a29bfe 1px solid;
    border-radius: var(--border-radius);
    padding: 1.5rem 1rem;
    align-items: center;
    gap: 1rem;
    text-align: center;
    line-height: 1.2rem;
    justify-content: space-between;
}

.bento__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secundary-color);
}

.bento-description {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}

.button {
    border-style: none;
    padding: 0.7rem 1rem;
    background-color: var(--secundary-color);
    color: var(--font-color);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}
.bento-condition {
    font-size: 0.6rem;
    font-style: italic;
    padding-top: 1.5rem;
}

.container__service--demenagement {
    grid-row-start: 1;
    grid-row-end: 3;
}

.container__service--livraison {
    grid-column: 2 / span 2;
}

.container__service--soiree {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.container__service--moral {
    grid-column: 1 / span 2;
}

.container__service--bouchon {
    grid-row: 2;
    grid-column: 2;
}
