:root {
    --main-color: black;
    --secundary-color: #a29bfe;
    --secundary-color-dec: #a19afd;
    --form-color: #8c8c8c;
    --font-color: white;
    --border-radius: 20px;
    font-family: "Satoshi", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    box-sizing: border-box;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Permet de s'assurer qu'il est au-dessus des autres éléments */
    background-color: rgba(
        0,
        0,
        0,
        0.8
    ); /* Ajoute une transparence au fond noir */
    transition: background-color 0.3s ease; /* Animation douce pour le changement de couleur */
}

main {
    margin: auto;
    width: 90%;
}

h1 {
    /* margin-left: 1.5rem; */
    font-size: 1.5rem;
    font-weight: bold;
}

.titre__navigation {
    /* margin-right: 1.5rem; */
}
.titre__navigation--categorie {
    color: var(--font-color);
    text-decoration: none;
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.titre__navigation--categorie:hover {
    color: var(--secundary-color);
    text-decoration: underline;
}

.container__decoration {
    max-width: calc(100% - 2 * 1.5rem);
    min-width: calc(100% - 2 * 1.5rem);
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    position: relative;
    /* background-image: url(../ressources/images/hero-banner.png);
    background-size: contain;
    background-repeat: no-repeat; */
}
.container__decoration--image {
    margin: auto;
    display: block;
    max-width: 100%;
    min-width: 100%;
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
    align-items: center;
    filter: brightness(0.6);
}

.container__decoration--text {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    top: 45%;
    margin: auto;
    justify-content: space-between;
}
.container__decoration--text--title {
    font-size: 2.5rem;
    font-weight: bolder;
}

.container__decoration--text--description {
    margin-top: 2rem;
    font-weight: bold;
}

.container__services--service,
.container__heros--title,
.container__temoignages-title,
.container__temoignages-title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-align: center;
}

em {
    color: var(--secundary-color);
}

.container__services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    max-width: calc(100% - 2 * 1.5rem);
    min-width: calc(100% - 2 * 1.5rem);
    margin: auto;
}

.bento {
    display: flex;
    flex-direction: column;
    border: #a29bfe 1px solid;
    border-radius: var(--border-radius);
    padding: 1.5rem 1rem;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    line-height: 1.2rem;
    align-items: center;
}

.bento__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secundary-color);
}

.bento-description {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}

.button {
    border-style: none;
    padding: 0.7rem 1rem;
    background-color: var(--secundary-color);
    color: var(--font-color);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    width: auto;
}
.bento-condition {
    font-size: 0.8rem;
    font-style: italic;
    padding-top: 1.5rem;
}

.container__service--demenagement {
    grid-row-start: 1;
    grid-row-end: 3;
}

.container__service--livraison {
    grid-column-start: 2;
    grid-column-end: 5;
}

.container__service--soiree {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.container__service--moral {
    grid-column: 1 / span 2;
}

.container__service--bouchon {
    grid-row: 2;
    grid-column: 2;
}

.container__heros {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container__heros--title {
    margin-top: 16px + 4rem;
    grid-column: 1 / span 3;
}

.container__heros--hero {
    max-width: 100%;
    position: relative;
}

.container__hero-hover {
    display: none;
    background-color: rgba(146, 129, 254, 0.7);
    position: absolute;
    text-align: center;
    top: 0px;
    padding: 1rem 0;
    font-size: 0.8rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
    font-weight: lighter;
    font-style: italic;
}

.container__heros--hero:hover {
    .container__hero-hover {
        display: block;
    }
}

.container__heros--hero-img {
    max-width: 100%;
    border-radius: var(--border-radius);
}

.container__heros--description {
    position: absolute;
    bottom: 0;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    align-items: center;
    line-height: 1.1rem;
    padding: 1.4rem;
}

.container__heros--nom-quoi {
    display: block;
    text-align: center;
    line-height: 1.4rem;
    font-size: 0.8rem;
}

.container__heros--nom {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
}

.container__heros-button {
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.container__temoignages {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    box-sizing: border-box;
}

.container__temoignages-title {
    display: block;
    width: 100%;
    margin: 4rem auto;
    align-self: center;
}

.container__temoignages-client {
    max-width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre l'image et le texte horizontalement */
    text-align: center; /* Centre le texte */
    min-height: 15rem; /* Hauteur minimale pour éviter les déformations */
    padding: 1rem;
}

.container__temoignages-client-img {
    width: 100%;
    aspect-ratio: 1/1; /* Garde un ratio 1:1 pour une image carrée */
    border-radius: 50%; /* Garde la forme ronde */
    object-fit: cover; /* Ajuste l'image pour qu'elle remplisse le conteneur sans déformation */
    border: var(--secundary-color-dec) solid 4px;
    box-sizing: border-box; /* Inclut la bordure dans les dimensions */
    z-index: 2;
}

.text-temoignage {
    border: #7c77c9 solid 4px;
    background-color: #7c77c9;
    position: relative;
    top: -5rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    height: 100%;
    text-align: center;
}

.container__temoignages-client-nom {
    font-weight: bold;
    margin-bottom: 1.2rem;
}

p {
    font-style: italic;
    font-size: 0.7rem;
    margin-top: 1.2rem;
    padding: 0 0.5rem;
    line-height: 1.2rem;
}

.formulaire__contact {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

label {
    text-align: center;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

.formulaire__contact-textbox,
.formulaire__contact-message-ta {
    height: 2rem;
    background-color: var(--form-color);
    border-radius: 10px;
    overflow: hidden;
    border-color: var(--form-color);
    border-style: none;
    color: white;
    font-weight: bold;
    padding-left: 0.2rem;
}

.formulaire__contact-message-ta {
    height: 10rem;
}

.button__form {
    box-sizing: content-box;
    align-self: baseline;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.formulaire__contact-textbox {
    padding-left: 1rem;
}

footer {
    background-color: var(--secundary-color);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.footer__title {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.footer__liens {
    color: white;
    text-transform: none;
    font-size: 0.7rem;
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-decoration: none;
}

.footer_liens-lien {
    text-decoration: none;
    color: white;
}

.footer_liens-lien:hover {
    scale: 1.1;
    text-decoration: underline;
}

.footer__copyright {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

/* Media Query pour les écrans de 880px ou moins */
@media (max-width: 880px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .container {
        width: 100%;
    }

    main {
        width: 94%;
        margin: auto;
    }

    .container__decoration {
        max-width: 100%;
    }

    .container__services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        min-width: 100%;
    }

    .container__service--demenagement {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .container__service--livraison {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .container__service--bouchon {
        grid-row: 2;
        grid-column: 1;
    }

    .container__service--soiree {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .container__heros {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .container__heros--hero {
        max-width: 44%;
        margin: 2%;
    }

    .container__heros--description {
        padding: 0.5rem;
    }

    .container__heros--hero:hover {
        .container__hero-hover {
            display: none;
        }
    }

    .container__temoignages {
        width: 100%;
    }

    .container__temoignages-client {
        max-width: 45%;
        margin-bottom: 2rem;
    }

    .container__temoignages-client-img {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .formulaire__contact {
        width: 80%;
    }
}

/* Media Query pour les écrans de 400px ou moins (mobile) */
@media (max-width: 400px) {
    .titre__navigation {
        display: none;
    }

    header {
        padding: 0.5rem 0;
    }
    .titre {
        margin: 10px auto 0 auto;
    }

    .container__decoration--image {
        width: 100%;
        aspect-ratio: 1 /2;
        object-fit: cover;
    }

    h2 {
        font-size: 1.5rem;
    }
    .container__services {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .container__heros {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .container__heros--hero {
        max-width: 100%;
        margin: auto;
    }

    .container__temoignages-client {
        margin-bottom: 0px;
    }

    .container__temoignages-client {
        max-width: 100%;
    }

    .formulaire__contact {
        width: 100%;
    }
}
